html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: 'font', sans-serif;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 70px;
}

/* header*/

.header-container {
    align-items: center;
    margin-bottom: 30px;
}

.header-logo {
    padding: 30px 0;
    align-items: flex-start;
    margin-right: 40px;
}

.header-contact-link {
    margin-right: auto;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 40px;
}

.header-nav {
    align-items: center;
    padding: 27px 45px;
}

.header-list-item:not(:last-child) {
    margin-right: 45px;
}

.header-list-item:last-child {
    margin-right: 134px;
}

.header-btn-list {
    align-items: center;
}

.header-btn-item {
    padding: 13px 20px;
    text-align: center;
    line-height: 16px;
    white-space: nowrap;
}

.header-btn-item:not(:last-child) {
    margin-right: 40px;
}

/*Offer*/

.offer-list {
    flex-direction: column;
}

.offer-item {
    height: 258px;
    width: 573px;
    background-size: 258px 573px cover;
    background-repeat: no-repeat;
    padding-left: 45px;
    padding-top: 40px;
    padding-right: 108px;
    padding-bottom: 40px;
}

.maldiv {
    background-image: url(../img/maldives.jpg);
    margin-right: 24px;
    margin-bottom: 24px;
}

.crit {
    background-image: url(../img/crit.jpg);
    margin-right: 24px;
}

.lux {
    width: 573px;
    height: 540px;
    background-image: url(../img/lux.jpg);
    background-size:cover;
    padding-left: 45px;
    padding-top: 212px;
    padding-right: 229px;
    padding-bottom: 40px;
}

.item-title {
    margin: 0;
    margin-bottom: 15px;
}

.item-price {
    margin: 0;
    margin-bottom: 47px;
}

.about-us-descr {
    margin: 0;
    max-width: 888px;
}

/*service*/

.services-list {
    flex-wrap: wrap;
}

.services-list-item {
    width: 570px;
    outline: 1px solid coral;
    margin-right: 24px;
    margin-bottom: 24px;
}

.services-list-item:nth-child(2n) {
    margin-right: 0;
}

.services-item-img {
    height: 165px;
    flex-shrink: 0;
}

.services-item-text {
    padding: 26px 126px 35px 45px;
}

.services-item-title {
    margin: 0;
    margin-bottom: 5px;
}

.services-item-descr {
    margin: 0;
}

/* Advantages*/

.advantages-list {
    flex-wrap: wrap;
}

.advantages-item {
    align-items: center;
    width: 276px;
    outline: 1px solid coral;
    margin-bottom: 22px;
}

.advantages-item:not(:nth-child(4n)) {
    margin-right: 22px;
}

.advantages-item-descr {
    margin: 0;
    padding: 116px 42px 32px 45px;
}

/*accomodation*/

.accomodation-list {
    flex-wrap: wrap;

}

.accomodation-item {
    align-items: center;
    width: 374px;
    outline: 1px solid coral;
    margin-bottom: 22px;
}

.accomodation-item-img {
    height: 217px;
}

.accomodation-item:not(:nth-child(3n)) {
    margin-right: 22px;
}

.item-underpan {
    padding: 32px 45px 45px 45px;
}

.accomodation-item-text {
    align-items: center;
    justify-content: space-between;
}

.price-descr {
    margin: 0;
    margin-bottom: 16px;
}

.accomodation-star-rating {
    margin: 0;
    margin-bottom: 16px;
}

.accomodation-name {
    margin: 0;
    margin-bottom: 16px;
}

.accomodation-location {
    margin: 0;
    margin-bottom: 20px;
}

.accomodation-item-btn {
    padding: 13px 20px;
    outline: 1px solid coral;
}