html {
    box-sizing: border-box;
    background-color: #E5E5E5;
}

*,
::before,
::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Regular'),
        url("../fonts/MullerRegular.woff2") format('.woff2'),
        url("../fonts/MullerRegular.woff") format('.woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}   

@font-face {
    font-family: 'Muller';
    src: local('Muller-Light'),
        url("../fonts/MullerLight.woff2") format('.woff2'),
        url("../fonts/MullerLight.woff") format('.woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}   

@font-face {
    font-family: 'Muller';
    src: local('Muller-Medium'),
        url("../fonts/MullerMedium.woff2") format('.woff2'),
        url("../fonts/MullerMedium.woff") format('.woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}   

@font-face {
    font-family: 'Muller';
    src: local('Muller-Bold'),
        url("../fonts/MullerRegular.woff2") format('.woff2'),
        url("../fonts/MullerRegular.woff") format('.woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}   

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: "Muller", sans-serif;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 70px;
}

/* header*/

.header-container {
    padding-top: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.header-logo {
    align-items: flex-start;
    margin-right: 40px;
}

.header-logo-img {
    border-radius: 15px;
}

.header-contact-link {
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}

.container-nav {
    background-color: #FFFFFF;
    border-radius: 15px;
}

.header-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.btn-link {
    border: 1px solid #CC9933;
    padding: 13px 20px 13px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    border-radius: 10px;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.header-nav {
    align-items: center;
    padding: 27px 45px;
}

.header-list-item:not(:last-child) {
    margin-right: 45px;
}

.header-list-item:last-child {
    margin-right: 134px;
}

.header-btn-list {
    align-items: center;
}

.header-btn-item {
    display: block;
    text-align: center;
    line-height: 16px;
    white-space: nowrap;
}

.header-btn-item:not(:last-child) {
    margin-right: 40px;
}

.header-account-link {
    background-image: url(../img/header-account.svg);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}

/*Offer*/

.offer-list {
    flex-direction: column;
}

.offer-item {
    overflow: hidden;
    width: 573px;
    min-height: 258px;
    padding-left: 45px;
    padding-top: 40px;
    padding-right: 108px;
    padding-bottom: 40px;
    border-radius: 15px;
    
}

.maldiv {
    background:linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/maldives.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 24px;
    margin-bottom: 24px;
}

.crit {
    background-image:linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/crit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 24px;
}

.lux {
    width: 573px;
    background-image: url(../img/lux.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 212px 229px 40px 45px;
}

.item-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.lux-item-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.item-price {
    margin: 0;
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}

.item-inform-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
    background-image: url(../img/right-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px 15px;
    padding-right: 15px;
    text-align: center;
}

.about-us-descr {
    margin: 0;
    max-width: 888px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

/*Services*/

.services-list {
    flex-wrap: wrap;
}

.services-list-item {
    overflow: hidden;
    width: 570px;
    margin-right: 24px;
    margin-bottom: 24px;
    font-size: 0;
    border-radius: 15px;
}

.services-list-item:nth-child(2n) {
    margin-right: 0;
}

.services-item-img {
    height: 165px;
    flex-shrink: 0;
}

.services-item-text {
    padding: 26px 126px 35px 45px;
    background: #FFFFFF;
}

.services-item-title {
    margin: 0;
    margin-bottom: 5px;
}

.services-item-title-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
    background-image: url(../img/offer-right-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px 15px;
    padding-right: 15px;
}

.services-item-descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

/* Advantages*/

.advantages-list {
    flex-wrap: wrap;
}

.advantages-item {
    align-items: center;
    width: 276px;
    background: #FFFFFF;
    margin-bottom: 22px;
    border-radius: 15px;
    padding: 40px 42px 32px 45px;
}

.advantages-item:not(:nth-child(4n)) {
    margin-right: 22px;
}

.advantages-item-descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

.item-img {
margin-bottom: 10px;
}

/*accomodation*/

.accomodation-list {
    flex-wrap: wrap;

}

.accomodation-item {
    overflow: hidden;
    align-items: center;
    width: 374px;
    margin-bottom: 22px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.accomodation-item-img {
    height: 217px;
}

.accomodation-item:not(:nth-child(3n)) {
    margin-right: 22px;
}

.item-underpan {
    padding: 32px 45px 45px 45px;
}

.accomodation-item-text {
    align-items: center;
    justify-content: space-between;
}

.accomodation-item-price {
    margin-bottom: 16px;
    align-items: center;
}

.price-from {
    margin: 0;
    margin-right: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.price {
    margin: 0;
    margin-right: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.price-night {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.accomodation-star-rating {
    margin: 0;
    margin-bottom: 16px;
}

.accomodation-name {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.accomodation-location {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.accomodation-item-btn {
    box-sizing: border-box;
    padding: 13px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

.all-hotels-item{
    background-image: url(../img/all-hotels.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 373px 54px 27px 54px;
    
}

.all-accomodation-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    background-image: url(../img/white-arrow.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: right center;
    padding-right: 15px;
}

/* Tour Section - Forms*/

.tour-form-container {
    background-color: #E9E9E9;
    border-radius: 15px;
    padding: 45px;
}

.form {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 30px 28px;
}

.form-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
}

.form-item {
    margin-right: 40px;
    font-weight: 400;
}

.form-item:last-child {
    margin-right: 50px;
}

.select-form-item {
    width: 169px;

}

.input-item {
    width: 121px;
}

.form-select {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    border: none;
}

.form-input {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    border: none;
    border-bottom: 1px solid #E9E9E9;
}

.date-input {
    border: none;
}

.form-submit-btn {
    box-sizing: border-box;
    padding: 13px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

/* Contacts */

.contacts-body {
    background-color: #FFFFFF;
    padding: 45px;
    border-radius: 15px;
}

.contacts-item-title {
    margin: 0;
    min-width: 146px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.contacts-item-address {
    margin: 0;
    margin-bottom: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.item-padding {
    padding-top: 25px;
    padding-bottom: 23px;
}

.contacts-list-item {
    width: 375px;
    margin-right: 52px;
    border-bottom: 1px solid #E9E9E9;
}

.contacts-call-descr {
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.contacts-item-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.contacts-item-mail-descr {
    margin: 0;
    margin-bottom: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #999999;

}

.contacts-item-mail-descr:last-child {
    margin-bottom: 0;
}

.contacts-item-date {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.btn-wrapper {
    box-sizing: border-box;
    min-width: 213px;
    padding-top: 45px;
}

.location-btn {
    padding: 27px 30px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    color: #CC9933 ;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.contacts-img {
    overflow: hidden;
    border-radius: 10px;
}

/*Footer*/

.footer-body {
    box-sizing: border-box;
    background-color: #333333;
    height: 341px;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 15px;
    padding-bottom: 45px;
    background-image: url(../img/footer-logo.svg);
    background-repeat: no-repeat;
    background-position-x: 739px;
    background-position-y: 112px;
    background-size: 255px 255px;
}

.left-footer {
    max-width: 302px;
    margin-right: 125px;
}

.left-footer-item:not(:last-child) {
    margin-bottom: 37px;
}

.left-footer-descr {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
}

.left-footer-item-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}
.center-footer {
    width: 360px ;
}

.center-footer-item:not(:last-child) {
    margin-bottom: 15px;
}

.center-footer-descr {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer-tel-link  {
    width: fit-content;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.footer-mail-link {
    width: fit-content;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.right-footer-list {
    flex-direction: column;
    padding-left: 269px;
}

.right-footer-item:not(:last-child) {
    margin-bottom: 20px;
}

.right-footer-social-link {
    display: block;
    background-repeat: no-repeat;
    background-position: right top;
    width: 25px;
    height: 25px;
}

.tripadvisor-link {
    background-image: url(../img/tripadvisor-logo.svg);
}

.ok-link {
    background-image: url(../img/ok-logo.svg);
}

.vk-link {
    background-image: url(../img/vk-logo.svg);
}